# ===================================================================
# tp-rigtoolkit requirements file
# ===================================================================

# tp-dcc requirements
git+https://github.com/matiascodesal/Qt.py-stubs.git
sphinx
sphinx_rtd_theme
PyYAML
metayaml
yamlordereddictloader
six
GitPython
sentry-sdk
comtypes
numpy
natsort

# tp-rigtoolkit requirements
